command -v jq >/dev/null || { echo "Please install jq (brew install jq) to auto-load the correct node version." >&2; exit 1; }

# the following is an alternative to nvmish. direnv comes with some handy utilities for node users.
# see https://github.com/direnv/direnv/blob/master/stdlib.sh for details.
if [[ -n $NODE_VERSIONS && -n $NODE_VERSION_PREFIX ]]; then
  layout_node
  use_node 8
else
  echo 'Missing environment variables required to select node version.'
  echo 'Try adding the following to your .profile:'
  echo 'export NODE_VERSIONS="$NVM_DIR/versions/node/"'
  echo 'export NODE_VERSION_PREFIX="v"'
fi
